@charset "utf-8";

html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,h1,h2,dt {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header.flex{
    justify-content: left;
    background-color: #fbe9e7;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    text-decoration-color: #707070;
}

header p {
    color: #707070;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 35px;
}

header p:last-child{
    margin-left: auto;
    margin-bottom: 35px;
}

p {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

nav.glonav {
    position: sticky;
    top: 147px;
}

nav.glonav ul{
    display: flex;
    justify-content: space-between;
}

nav.glonav ul li {
    width: 20%;
}

nav.glonav ul li a {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 4rem;
    text-align: center;
    color: #707070;
    text-decoration: none;
    background-color: #fbe9e7;
    display: block;
    transition-duration: 0.2s;
}

nav.glonav ul li a:hover{
    background-color: #fff;
}

nav.glonav ul li:last-child a{
    border-right: none;
}

main section.sec1 h2{
    width: 100%;
    padding: 60px 0;
    background-image: url(image/clinicphoto.jpg);
    background-position: 0 -200px;
    background-size: cover;
    font-size: 4.8rem;
    color: #fff;
    text-shadow: 0px 0px 10px rgb(0, 0, 0, 50%);
    text-align: center;
}

main section.sec1 h2 span {
    display: block;
    border-bottom: 10px solid #fff;
    box-shadow: 0px 8px 10px -10px rgb(0, 0, 0, 50%);
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
}

main article {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

main article h2 {
    font-size: 3rem;
    color: #707070;
}

main article section.sec2{
    width: 50%;
}
main article section.sec2 dl.info {
    background-color: #fbe9e7;
    padding: 10px;
    margin-right: 25px;
    overflow-y: auto;
}

main article section.sec2 dl.info dt{
    color: #707070;
    font-weight: bold;
    border-bottom: 2px dotted #5d4037;
    letter-spacing: 0.1rem;
}

main article section.sec2 dl.info dd{
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

main article section.sec3 {
    width: 50%; 
}

section.sec3 div{
    background-color: #fbe9e7;
    line-height: 4rem;
}

section.sec3 table {
    width: 100%;
    font-size: 1.4rem;
    color: #707070;
}

section.sec3 table tr td.time span{
    display: flex;
    justify-content: center;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

section.sec3 table tr{
    text-align: center;
}

section.sec3 table tr td:first-child{
    width: 100px;
}

section.sec3 div small {
    margin-left: 30px;
}

section.sec4 h2 {
    margin-left: 15px;
}

section.sec4 div.example{
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

section.sec4 div.example p{
    width: 30%;
    margin: 0 15px 0 15px;
    color: #707070;
    text-align: center;
}

main article div.access {
    width: 100%;
    margin: 0 15px 0 15px;
}

main article div.access h2{
    text-align: center;
    margin: 50px auto;
    border-bottom: 5px solid #E3E1E1;
    width: fit-content;
    font-size: 4.8rem;
}

main article div.access div.flex p {
    width: 50%;
    margin: 0 50px 0 50px;
}

main article div.access div.flex dl {
    width: 50%;
}

main article div.access div.flex dl dt{
    font-size: 3.6rem;
    font-weight: 500;
    margin-top: 35px;
}

main article div.access div.flex dl dd{
    font-size: 2rem;
    font-weight: 500;
    color: #707070;
}

main article div.access div.flex dl div.subway {
    background-image: url(image/transp.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 80px;
    margin-top: 30px;
}

main article div.access div.flex dl div.parking {
    background-image: url(image/parking.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 80px;
    margin-top: 30px;
}

/* ここからABOUT */

main section.about{
    width: 100%;
    margin: 40px auto;
    padding: 0 40px;
}

main section.about p {
    width: 50%;
}

main section.about dl {
    width: 50%;
    padding-top: 100px;
}

main section.about dl dt {
    font-size: 2.4rem;
    color: black;
    font-weight: 500;
    padding: 20px 0 0 20px;
}

main section.about dl dd {
    font-size: 1.5rem;
    color: #707070;
    padding-left: 20px;
    line-height: 3.6rem;
}

main section.clinic {
    max-width: 1000px;
    margin: 80px 40px;
    border-radius: 10px;
    background-color: #fbe9e7;
    box-shadow: 0px 8px 10px -10px rgb(0, 0, 0, 50%);
}

main section.clinic h2{
    width: 920px;
    padding: 20px 20px 0 20px;
    color: #707070;
    font-size: 3.6rem;
    text-align: center;
}

main section.clinic h2 span{
    border-bottom: 1px solid #707070;
    width: fit-content;
}

main section.clinic p {
    width: 920px;
    font-size: 2rem;
    color: #707070;
    line-height: 3.6rem;
    padding: 25px;
}

/* ここから治療案内 */

main section.treatment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    justify-content: space-between;
    align-content: space-between;
}

main section.treatment p {
    margin-bottom: 70px;
}


/* ここから費用案内 */

main section.charge table {
    margin: 50px auto;
    text-align: center;
    width: 100%;
    padding: 50px;
}

main section.charge table tr td {
    font-size: 1.5rem;
    line-height: 3.6rem;
    width: 30%;
    padding: 4px;
    border: 1px solid #707070;
    border-width: 0 0 1px 1px;
}

main section.charge table tr th{
    background-color: #fbe9e7;
    font-size: 2rem;
    line-height: 3.6rem;
    border: 1px solid #707070;
    border-width: 1px 0 1px 1px;
}

main section.charge table tr th:last-child,
main section.charge table tr td:last-child{
    border-right: 1px solid #707070;
}

/* ここからQ＆A */

main div.qna article {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 50px 30px 50px;
}

main div.qna article h3 {
    width: 100%;
    font-size: 2rem;
    background-color: #fbe9e7;
    border: 1px solid #707070;
    border-radius: 20px 20px 0 0;
    padding: 8px 30px;
}

main div.qna article p {
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 0 0 20px 20px;
    padding: 8px 30px;
    line-height: 3.6rem;
}


footer{
    width: 100%;
    font-size: 1.5rem;
    background-color: #fbe9e7;
    text-align: center;
    padding-top: 150px;
    background-image: url(image/logo.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}